/* ================== General Body ================== */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #eaf1fb;
  margin: 0;
  padding: 0;
  color: #000000;
  overflow-x: hidden;
}

#container {
  width: 37vw;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#Cust_details input,
#Cust_details select {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

#cust_name {
  width: 60%;
  margin-left: 0.2rem;
}

#cust_number {
  width: 60%;
  margin-left: 2.5rem;
}

#total_amount {
  width: 41%;
  margin-left: 0.2rem;
}

#Recharge_plans {
  width: 65.4%;
  margin-left: 1.2rem;
}

input:focus,
select:focus {
  border-color: #357abd;
  box-shadow: 0 0 5px rgba(53, 122, 189, 0.3);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #357abd;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

#Cust_details button {
  margin-left: 7rem;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #2a5d9e;
}

#Payment_details {
  width: 25vw;
  margin: 1rem 8rem;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 12px;
  background: #fdfdfd;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  max-height: 230px;
}

#Payment_details select {
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

#pay_amount {
  width: 10vw;
  margin-left: 7vw;
}

#upi_box,
#Debit_box,
#credit_box,
#netbanking_box {
  position: absolute;
  top: 27rem;
  right: 8rem;
  width: 25vw;
  max-height: 230px;
  margin: 1rem;
  padding: 0.8rem 1rem 1rem 1rem;
  border-radius: 12px;
  background: #fdfdfd;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#netbanking_box select,
#upi_box input,
#Debit_box input,
#credit_box input,
#netbanking_box input {
  padding: 7px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

#bank_input {
  width: 40%;
}

#account_input {
  width: 40%;
}

#credit_input,
#Debit_input {
  margin-left: 4.5rem;
}

#upi_pay,
#Debit_pay,
#credit_pay,
#netbanking_pay {
  margin-top: 0.5rem;
  margin-left: 10vw;
}

#upi_input_error {
  margin-left: 8rem;
}

#credit_input_error,
#Debit_input_error {
  margin-left: 4.5rem;
}

#account_input_error {
  margin-left: 11.5rem;
}

#summary_box {
  width: 35vw;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 15px;
  background: #cadffc;
  border-left: 6px solid #357abd;
  border-right: 6px solid #357abd;
}

#summary_box h1 {
  margin-top: 0rem;
  font-size: 24px;
  color: #357abd;
  margin-bottom: 10px;
  text-align: center;
}

#summary_box h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
}

#summary_box p {
  margin: 5px 0;
  font-size: 14px;
}

#summary_box span {
  font-weight: 600;
}

span[id$="_error"] {
  margin-left: 22vh;
  color: red;
  font-size: 16px;
}
